@import '_themes.scss';

.index{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.index__sidebar-action{
  position: fixed;
  bottom: 0;
  left: 0;
  border: 3px solid var(--colorPrimary);
  border-radius: 50%;
  padding: 10px;
  margin: 70px;
  background-color: var(--colorPrimary);
  .index__sidebar-icon{
    font-size: 27px;
    padding: 0;
    margin: 0;
    color: white;
  }
}

#dimmer{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  transition: background-color 500ms ease-in-out;
}

.index__toggle-icon-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 35px;
  transition: 200ms all;
  .index__toggle-icon{
    font-size: 32px;
    color: var(--grayPrimary);
  }
}

